@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(17,24,49);
}
#header{
    background-color: rgb(3,7,18);
    width: 100dvw;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: thin solid #c0c0c0;
}
#logo{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0 2%;
}
.nav-link{
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
a{
    text-decoration: none;
}
#nav-links{
    padding: 2%;
    width: 35dvw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#index-body{
    position: absolute;
    width: 80dvw;
    height: 80dvh;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}
#index-body-disc{
    color: white;
    width: 45dvw;
    display: flex;
    flex-direction: column;
}
#index-body-disc-head{
    font-size: 2em;
}
#objectives{
    height: 15dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.objective-points{
    display: none;
}
#ai-pic{
    width: 20dvw;
    mix-blend-mode: lighten;
    border-radius: 100%;
    animation: oscillate 2s infinite;
}
#chatbot{
    position: absolute;
    bottom: 0;
    left: 0;
}
#chat-bot{
    width: 60px;
    cursor: pointer;
    margin: 4%;
}
#footer{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;right: 0;
    margin: 1% auto;
    width: fit-content;
    height: fit-content;
    opacity: 0.5;
    font-size: 0.75em;
}
@keyframes oscillate {
    0%,100%{
        transform: translateY(0);
        box-shadow: 1px 1px 16px #fff;
    }
    55%{
        transform: translateY(5px);
        box-shadow: 2px 2px 32px #fff;
    }
    90%{
        transform: translateY(-5px);
        box-shadow: 2px 2px 32px #fff;
    }
}

#prediction-frame{
    display: flex;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 80dvw;
    height: 60dvh;
}
#raw-text-form{
    background-color: rgb(3,7,18);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 60dvh;
    padding: 2%;
    border-radius: 1rem;
}
#rawtext{
    resize: none; /* Disable manual resizing by the end user */
    width: 30dvw;
    height: 35dvh;
    border-radius: 1rem;
    padding: 2%;
}
#size{
    width: 30dvw;
    border-radius: 1rem;
    padding: 2%;
}
.submit{
    padding: 2%;
    border-radius: 1rem;
    background-color: #f6d334;
    cursor: pointer;
}
#summary-div{
    background-color: rgb(3,7,18);
    width: 30dvw;
    height: 35dvh;
    border-radius: 1rem;
    border: thin solid #808080;
    color: #c0c0c0;
    padding: 2%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 2px 2px 4px #000;
}
#GPT-submit{
    background-color: #86dc3d;
}
#submit-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}