<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sathvik AITT</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header id="header">
        <h1 id="logo">Botify</h1>
        <div id="nav-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/ansBot" class="nav-link">SummarEase</a>
            <a class="nav-link">ExamWiz</a>
            <a href="/satBot" class="nav-link">SatBot</a>
        </div>
    </header>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
    intent="WELCOME"
    chat-title="sathvik-ai-chatbot"
    agent-id={bid}
    language-code="en"
    ></df-messenger>
    <footer id="footer">
        Copyright © 2022 - 2023
    </footer>
</body>
</html>