<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sathvik AITT</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header id="header">
        <h1 id="logo">Botify</h1>
        <div id="nav-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/ansBot" class="nav-link">SummarEase</a>
            <a class="nav-link">ExamWiz</a>
            <a class="nav-link">SatBot</a>
        </div>
    </header>
    <div id="index-body">
        <img alt="ai" src="https://img.freepik.com/premium-vector/electric-brain_106072-29.jpg" id="ai-pic">
        <div id="index-body-disc">
            <div id="index-body-disc-head">
                Welcome to Botlify
            </div>
            <div id="objectives">
                <ul>
                    <li class="objective-points" id="obj1"></li>
                    <li class="objective-points" id="obj2"></li>
                    <li class="objective-points" id="obj3"></li>
                    <li class="objective-points" id="obj4"></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="chatbot">
        <img src="/static/message.svg" alt="chatbot" id="chat-bot"/>
    </div>
    <footer id="footer">
        Copyright © 2022 - 2023
    </footer>
    <script src="/static/index.js"></script>
</body>
</html>